:host {
  display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10vh - 15vh); /* Viewport minus header and footer */
  margin-top: 10vh;   /* Below header */
  margin-bottom: 15vh; /* Above footer */
  box-sizing: border-box;
}

/* .buttondisplay{
  height: 9vh;
  width: 15vw;
  border: 2px solid black;
  position: fixed;
  top: 1%;
  left: 1%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
} */

.buttondisplay {
  height: 9vh;
  width: 15vw;
  border: 2px solid black;
  position: fixed;
  top: 1%;
  left: 1%;
  background: linear-gradient(to right, rgba(173,216,230,1) 0%, rgba(255,255,255,0) 100%);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}




